<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/90bf5d61-4112-4cfd-a078-9efcb0a26e64/resourceGroups/ClientManagement/providers/Microsoft.Web/sites/ClientManagementService</ResourceId>
    <ResourceGroup>ClientManagement</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://clientmanagementservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>clientmanagementservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ClientManagementService</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ClientManagementService</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>