html, body, body > div, .app {
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
}

.floating-button {
  position: fixed !important;
  bottom: 2em;
  right: 2em;
}

.title {
  flex-grow: 1;
}

.main-container {
  height: 100%;
  background-color:#fafafa;
}

.content-container {
  margin: 0 3em;
  padding-top: 6em;
  padding-bottom: 2em;
  height: 100%;
}

.circular-list {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-align {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.modal {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.whole-width {
  width: 100%;
}